## Visual Studio
*.rsuser
*.suo
*.user
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# .NET
artifacts/

# NuGet
*.nupkg
**/[Pp]ackages/*

# Environment
.env

# Docker
docker-compose.override.yml

# Database
*.db
*.sqlite

# macOS
.DS_Store

# Temp
TFSTemp/
